body{
    background-image: linear-gradient( Red, Orange, Yellow, Green, Blue, Indigo , Violet)
}
h1{
    color: aliceblue;
}
h2{
    color: blueviolet;
}
h3{
    color: burlywood;
}
h5{
    color: coral;
}
p{
    color: rosybrown;
}